.loading-capture {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7.5rem;
  z-index: 30;
  padding: 0 4rem;
}

.loading-capture-text {
  font-size: var(--fs-25);
  text-align: center;
}
